* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./Assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.02);
  --switch-bg-url: url(Assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./Assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(/Assets/sun.svg);
}

body {
  /*
  background-image: url(./Assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  Usando todos os atralhos juntos
  */
  background: var(--bg-url) no-repeat top center/cover;
  /*height: 100vh; */
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

/* como a imagem está dentro do "pai" profile, logo não conseguimos alinhar ela usando apenas margin, devemos usar "display block" "display inline" */

#profile {
  text-align: center;
  padding: 24px;
}

/* perfil */
#profile img {
  width: 112px;
  margin: auto;
  display: block;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* switch*/
#switch {
  position: relative; /*fazendo com que o botão fique dentro da caixa do switch e n fora dela*/
  width: 64px; /* deixar na mesma largura que o track */
  margin: 4px auto; /* alinha os elementos no centro da tela */
}

#switch button {
  height: 32px;
  width: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute; /* faz uma sobreposição de camadas */
  z-index: 1; /* como se fosse o primeiro andar, para sobrepor o botão por cima da barrinha */
  left: 0;
  top: 50%; /* coloca todo o elemento 50% do topo */
  transform: translateY(-50%); /* coloca o elemento 50% para fora da caixa */
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block; /* display block deixa um abaixo do outro, display inline, um ao lado do outro */
  border-radius: 9999px;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* links */

ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px; /* distância entre os botões */
  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center; /* alinhar itens no centro */
  justify-content: center; /* alinhar conteúdo no centro */

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px; /* curvatura da borda */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none; /* remove linha do texto */
  font-weight: 500;

  transition: background 0.2s; /* funciona como a transição de um vídeo, porém quando passamos o mouse em cima do elemente */
}

/* pseudo-selector : muda as coisas quando passa o mouse em cima */
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/* social links */
#social-links {
  display: flex;
  justify-content: center;

  padding: 24px 0;

  font-size: 24px;
}

#social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

/* footer é o rodapé da página */
footer {
  padding: 24px 0;
  text-align: center; /* alinha textos ao centro */
  font-size: 14px;
}

/* media queries */
@media (min-width: 700px) {
  :root {
    --bg-url: url(./Assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./Assets/bg-desktop-light.jpg);
  }
}

/* Os pseudosseletores são uma forma de selecionar elementos HTML com base em seu estado ou posição em relação a outros elementos. */

/* Git e Github

Inicia o git (repositório) no seu projeto
git init

adiciona todos os arquivos modificados ao stage
git add .

cria e descreve um ponto na história
git commit -m

envia alterações para o repositório remoto
git push
*/
